Cython>=0.29.21
easydict>=1.9
h5py>=2.10.0
matplotlib>=3.3.1
numba>=0.49.1
numpy>=1.19.5
opencv-python>=4.4.0.42
pandas>=1.1.2
Pillow>=8.2.0
plyfile>=0.7.2
PyYAML>=5.3.1
scikit-image>=0.16.2
scikit-learn>=0.23.2
scipy>=1.5.2
six>=1.15.0
tensorboard>=2.3.0
tensorboard-plugin-wit>=1.7.0
tensorboardX>=2.1
torch>=1.0.0
tqdm>=4.48.2
trimesh>=3.9.14